<mat-drawer-container class="app-sidenav__container" [hasBackdrop]="false">
  <mat-drawer [opened]="opened" disableClose [mode]="'side'" class="app-sidenav__drawer">
    <mat-selection-list [multiple]="false" color="primary">
      <mat-list-option
        [routerLink]="'/clients'"
        [selected]="router.url === '/clients'"
      >
        Mes clients
      </mat-list-option>
      <mat-list-option
        [routerLink]="'/agenda'"
        [selected]="router.url === '/agenda'"
      >
        Mon agenda
      </mat-list-option>
      <mat-list-option
        [routerLink]="'/clinique'"
        [selected]="router.url === '/clinique'"
      >
        Ma clinique
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
