<mat-card class="app-user-card__card" *ngIf="patient">
  <mat-card-header>
    <div mat-card-avatar class="app-user-card__card-image"></div>
    <mat-card-title>{{ patient.firstName }} {{ patient.lastName.toUpperCase() }}</mat-card-title>
    <mat-card-subtitle>Favorite patient</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>{{ patient.email }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>{{ patient.birthDate | date:'dd/MM/yyyy' }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>{{ patient.gender | gender }}</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
