.app-consultation {
  &__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
    & iframe {
      margin: 0 3rem;
      flex-grow: 4;
      height: 70vh;
    }
  }
  &__infos {
    flex-grow: 1;
    height: 100%;
    margin: auto;
    & mat-divider {
      margin: 3rem 0;
    }
  }
  &__notes {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    & textarea {
      height: 60vh;
      resize: none;
    }
  }
}
