.app-register {
  &__content {
    &-names,
    &-date-gender,
    &-email,
    &-animals {
      display: flex;
      flex-flow: row nowrap;
      margin: 1rem;
      & > * {
        flex-grow: 1;
        margin: 1rem;
      }
    }
  }

  &__save {
    display: flex;
    & > button {
      margin: auto;
    }
  }
}

::ng-deep .app-register__content-animals .mat-chip-list-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

::ng-deep .app-register__content-animals .mat-select-arrow {
  border-left: 18px solid transparent !important;
  border-right: none !important;
  border-top: 18px solid transparent !important;
  border-image-source: url('/assets/plus.svg') !important;
  border-image-repeat: stretch !important;
}
