<h1>S'inscrire</h1>

<div class="app-register__content">
  <form [formGroup]="form">
    <div class="app-register__content-email">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
    </div>
    <div class="app-register__content-names">
      <mat-form-field appearance="fill">
        <mat-label>Prénom</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>
    </div>
    <div class="app-register__content-date-gender">
      <mat-form-field appearance="fill">
        <mat-label>Date de naissance</mat-label>
        <input
          matInput
          [matDatepicker]="birthDate"
          formControlName="birthDate"
        />
        <mat-hint>JJ/MM/AAAA</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="birthDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #birthDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Genre</mat-label>
        <mat-select formControlName="gender">
          <mat-option [value]="'M'">Masculin</mat-option>
          <mat-option [value]="'F'">Féminin</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="app-register__content-animals">
      <app-multi-chip-select
        [label]="'Animaux traités'"
        [possibleValues]="animalTypes"
        (selectionChanged)="animalSelectionChanged($event)"
      ></app-multi-chip-select>
    </div>
  </form>
</div>
<div class="app-register__save">
  <button
    mat-stroked-button
    color="primary"
    [disabled]="!canSave()"
    (click)="save()"
  >
    Inscription
  </button>
</div>
