.app-records {
  &__user-card-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  &__list-actions {
    display: flex;
    flex-flow: row nowrap;
    & > * {
      margin: auto 1rem;
    }
  }
  &__action {
    margin-left: 4rem;
    cursor: pointer;
  }
}
