<h1>Mes Clients</h1>

<div class="app-customers__tree">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <div class="app-customers__tree-node">
        <span>{{ node.value.name }}</span>
        <mat-divider [vertical]="true"></mat-divider>
        <span>{{ node.value.type }}</span>
        <mat-divider [vertical]="true"></mat-divider>
        <span>{{ node.value.birthDate | date: "dd/MM/yyyy" }}</span>
        <mat-divider [vertical]="true"></mat-divider>
        <span>{{ node.value.gender | gender }}</span>
        <mat-divider [vertical]="true"></mat-divider>
        <a class="app-customers__tree-node-link" [routerLink]="['/dossier', node.value.id]">Consulter dossier</a>
      </div>
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <div class="app-customers__tree-node">
        <span>{{ node.value.firstName }} {{ node.value.lastName }}</span>
        <mat-divider [vertical]="true"></mat-divider>
        <span>{{ node.value.phone }}</span>
        <mat-divider [vertical]="true"></mat-divider>
        <span>{{ node.value.email }}</span>
        <mat-divider [vertical]="true"></mat-divider>
        <span>{{ node.value.birthDate | date: "dd/MM/yyyy" }}</span>
        <mat-divider [vertical]="true"></mat-divider>
        <span>{{ node.value.gender | gender }}</span>
      </div>
    </mat-tree-node>
  </mat-tree>
</div>
