<div class="app-agenda__agenda-heading">
  <div class="app-agenda__agenda-heading-navigation">
    <button mat-stroked-button mwlCalendarToday [(viewDate)]="viewDate">
      Aujourd'hui
    </button>
    <button
      mwlCalendarPreviousView
      mat-icon-button
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>

    <button
      mat-icon-button
      mwlCalendarNextView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <div class="app-agenda__agenda-heading-date">
    <p>{{ viewDate | calendarDate: view + "ViewTitle":"en" }}</p>
  </div>
  <div class="app-agenda__agenda-heading-periodicity">
    <mat-form-field appearance="fill">
      <mat-label>Périodicité</mat-label>
      <mat-select (selectionChange)="setView($event.value)" [value]="view">
        <mat-option [value]="CalendarView.Month"> Mois </mat-option>
        <mat-option [value]="CalendarView.Week"> Semaine </mat-option>
        <mat-option [value]="CalendarView.Day"> Jour </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div [ngSwitch]="view" class="app-agenda__agenda-container">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>
